---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---

<Layout title='Skilled E-learning'>
  <main class=''>
    <Button variant='black' />
    <Button variant='orange' />
    <Button variant='purple' />
    <Link />
  </main>
</Layout>
