---
import Link from './Link.astro';
interface Props {
  headline: string;
  text: string;
}

const { headline, text } = Astro.props;
---

<div
  class='relative bg-white flex flex-col gap-300 pt-800 pb-500 px-400 shadow-card rounded-2xl mt-7 w-full'
>
  <div class='flex absolute top-0 -translate-y-1/2'>
    <slot />
  </div>
  <h2 class='text-preset-4 text-blue-900'>{headline}</h2>
  <p class='text-preset-6 text-gray-400'>{text}</p>
  <Link />
</div>
