---
import Button from './Button.astro';
---

<div class='flex flex-col py-800 px-250 items-center justify-center self-stretch gap-600 w-full'>
  <div class='flex flex-col items-start gap-500'>
    <div class='flex flex-col items-start gap-300'>
      <h1 class='text-preset-1 text-blue-900'>Maximize skill, minimize budget</h1>
      <p class='text-preset-5 text-gray-400'>
        Our modern courses across a range of in-demand skills will give you the knowledge you need
        to live the life you want.
      </p>
    </div>
    <Button variant='orange' />
  </div>
  <picture class='w-max'>
    <source
      media='(max-width: 767px)'
      srcset='/images/image-hero-mobile.webp 1x, /images/image-hero-mobile@2x.webp 2x'
    />
    <source
      media='(max-width: 1439px)'
      srcset='/images/image-hero-tablet.webp 1x, /images/image-hero-tablet@2x.webp 2x'
    />
    <source
      media='(min-width: 1440px)'
      srcset='/images/image-hero-desktop.webp 1x, /images/image-hero-desktop@2x.webp 2x'
    />
    <img src='/images/image-hero-mobile.webp' alt='Hero' />
  </picture>
</div>
